# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Env
.env
.env.*
!.env.example

# Testing
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

*.tsbuildinfo
